<%- include ('./partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" class="ui form" method="POST">
        <label>Title</label>
   <div class="field"> <label><Title></Title></label><input type="text" name="blog[title]" placeholder="title"></div>
   <label>Image Source</label>
   <div class="field"><label>image</label><input type="text" name="blog[image]" placeholder="image"></div> 
   <label>Blog Content</label>
   <div class="field"><label>Blog Content</label><textarea name="blog[body]" placeholder="Blog goes here"></textarea></div> 
   <div class="field"><input type="submit" class="ui voilet big basic button"></div> 
    </form>
</div> 
<%- include ('./partials/footer') %>